.HomePage{
    padding: 25px;
}

.Title{
    margin: 25px 0;
}

.GoButton{
    padding: 10px;
    background-color: greenyellow;
    border-radius: 15px;
    border: 1px solid black;
}

.GoButton:hover{
    background-color: gray;
    transform: scale(1.4, 1.4);
    border-bottom: 3px solid #000;
}